<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
    <input type="file" (change)="onFileChange($event)" />
    <button type="submit" [disabled]="formGroup.invalid || formGroup.prestine">Submit</button>
  </form>
<!--When prescription is loaded show information-->

<div class="row">
  <div class="presc-info-block" *ngIf="dataLoaded">
    <h4>Patient:  {{patient?.FirstName}} {{patient?.LastName}} </h4>
    <h4>Doctor: {{doctor?.FirstName}} {{doctor?.LastName}}</h4>
</div>

<div>
  
</div>

</div>