 <div class="row">
    <div class="col-md-12 top">
        <div class="header" style="text-align:center" >
            <h4>Search Prescriptions</h4>
            <app-presc-search-form></app-presc-search-form>
        </div>
  </div>

 </div>

 <div class="row">
        <div class="col-md-12 top">
                <div class="header" style="text-align:center" >
                    <h4>Enter Prescriptions</h4>
                    <app-presc-insert-form></app-presc-insert-form>
                </div>
 </div>

 <div class="row">
        <div class="col-md-12 top">
                <div class="header" style="text-align:center" >
                    <h4>Generate Prescription:</h4>
                    <app-presc-generate-form></app-presc-generate-form>
                </div>
 </div>
 
 
