<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
        <ul>
          <li>
            <a style="cursor: pointer;"
            [routerLink]="['/doctors']">
            View Doctors
          </a>
        </li>
          <li>
              <a style="cursor: pointer;"
            [routerLink]="['/medications']">
            View Medications
            </a>  
          </li>
          <li>
              <a style="cursor: pointer;"
            [routerLink]="['/patients']">
            View Patients
            </a>
          </li>
          <li> 
             <a style="cursor: pointer;"
            [routerLink]="['/prescriptions']">
            View Prescriptions
          </a>
        </li>
        </ul>
      </div>

      <div class="col-md-8">
        <div class="header" style="text-align:center" >
            <h4>Search Prescriptions</h4>
            <app-presc-search-form></app-presc-search-form>
        </div>
      </div>
  </div>

</div>
